
.DS_Store
replacement/exe.win32-3.6/tcl/init.tcl
replacement/exe.win32-3.6/tk/tk.tcl
replacement/worktimes/data.txt
replacement/worktimes/icon.ico
replacement/worktimes/info.txt
replacement/worktimes/settings.rfe
setup.py
tcl86t.dll
tcl86t.lib
tk86t.dll
tk86t.lib
vcruntime140.dll
.idea/worktimes.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/dictionaries/isaknyberg.xml
kivy_reamake.py
Hashes.txt
*.pyc
.python-version
.github/
